* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
 }

li a{
    text-decoration: none;
}
li{
    list-style: none;
    /* border: 1px solid red; */
}


.mark-text{
text-align: center;
}

.first-flex {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #ccc;
    padding: 15px;
}

.my-right-part {

    display: flex;
    justify-content: space-around;
    width: 40%;
    margin-left: 20px;
    /* flex-direction: right; */
    
}
/* 
.my-right-part li{
    float: left;
    padding: 30px;
    

} */

.first-image {
    display: block;
    width: 70%;
    margin: auto;
}

.offer {
    text-align: center;
    margin-top: 40px;
    text-decoration: none;
}

.next-flex {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    margin-top: 20px;
    flex-wrap: wrap;

}

.designed,
.branded,
.consulted,
.promised {
    text-align: start;
    width: 25%;
    padding: 6px 6px 6px 10px;
}

.designed {
    background-color: #F1F1F1;
}

.branded {
    background-color: #9E9E9E;
}

.consulted {
    background-color: #616161;
    color: white;
}

.promised {
    background-color: #000000;
    color: white;
}

.plans {
    text-align: center;
}

.price-flex {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    margin-top: 10px;
}

.choose {
    margin-top: 20px;
}

.abasic {

    width: 32.6%;
    border: solid 1px #ccc;
    text-align: center;
}

.abasic h3 {
    padding: 15px 0;
}

.abasic:hover {
    /* background-color: #ccc; */
    box-shadow: 1px 1px 3px 4px #ccc;
    opacity: 0.5;
}


.basic {

    background-color: #000000;
    color: white;
    padding: 40px 0px;
    /* width: 90%; */
    text-align: center;
    /* border: solid 1px red; */

}

.store {
    padding: 15px;
    width: 80%;
    text-align: center;

}

.myborder-bottom {
    border-bottom: solid 1px #ccc;
}

.store h3 {
    text-align: center;
}

.sign {
    padding: 15px;
    background-color: #F1F1F1;
}

.sign a {
    text-align: center;
    padding: 10px;
    background-color: green;
    /* width: 70px; */
    display: inline-block;
    color: #fff;
    text-decoration: none;
}

.who {
    text-align: center;
    margin-top: 20px;
}

.teamflex {

    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
}

.indiv-team {
    width: 32.6%;
    box-shadow: 3px 3px 3px 3px #ccc;
    text-align: center;
}
.indiv-team img{
    filter: grayscale(0.7);
}

.contact {
    background-color: #F1F1F1;
    width: 100%;
    padding: 12px;

    /* border-bottom: 5px; */

}

.contact a {
text-decoration: none;
}

.contact:hover {
    background-color: #9E9E9E;
}

.tcon {
    padding: 10px 20px;
}


.mybdbottom{
    border-bottom: solid 5px black;
    /* margin: auto; */
    
}
.all{
    width: 11%;
    margin: auto;
    /* background-color: aqua; */
}
.cont{
    border-bottom: 5px solid #000;
    padding-bottom: 10px;
    margin-top: 40px;

}

.contact-after{
    text-align: center;
    margin-top: 20px;
}

.contact-after h2{
    display: inline-block;
    /* position: relative; */
}

.contact-after h2::after{
    content: '';
    width: 100%;
    background-color: #000;
    height: 5px;
    margin: auto;
    /* position: absolute; */
    display: block;
    margin-bottom: 5px;
}

.my-form{
    width: 70%;
    margin: auto;
}
.my-form input{
    width: 100%;
    padding: 10px;
    font-size: 16px;
} 

.my-form input:hover{
    background-color:#9E9E9E;
    color: #fff;
}

.form-group{
margin-bottom: 10px;
}

.send{
    background-color: #000;
    color: #fff;
    border: none;
}

.send:hover{
background-color: #ccc;
color: red;
}

.footer{

    background-color: #ccc;
   text-align: center;
   padding: 20px 0;
}

.footer h1{
    text-align: center;
}

.footer-text{
    text-align: center;
    color: #fff;
}
.footer a{
    text-decoration: none;
    color: #000;
    display: inline-block;
    background-color: goldenrod;
    padding: 5px 10px;
    font-size: 18px;
    margin-top: 10px;
}


/* responsive for tablet */

@media screen and (max-width: 768px) {

    /* .next-flex{
        background-color: #f00;
    } */

    .designed,.branded,.consulted,.promised{
        width: 48%;
    }

}

/* for mobile 426px */

@media screen and (max-width: 426px) {
    .my-right-part {
        
        width: 70%;
    }
    .designed,.branded,.consulted,.promised{
        width: 100%;
    }
    .mytxt{
    text-align: center;
    }

    .price-flex{
        display: block;
        
    }

    .abasic{
        width: 100%;
        margin-bottom: 10px;  
    }
    .teamflex{
    display: block;
    margin-bottom: 10px;
    }

    .indiv-team{
        width: 100%;
        margin-bottom: 10px;
    }
/*     
        .all{
            width: 40%;
            
            
        } */

}